*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ga Maamli", sans-serif;
}

.judul {
  font-size: 20px;
  font-family: impact;
  text-align: left;
  color: #ffffff;
}

 h4 {
  color: #ffffff;
}

p {
  color: #ffffff;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

h1>b {
  color: #ef0000;
}

body {
  background-image: url(desktop-wallpaper.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

.logo {
   color: #ffffff;
   font-family: "Ga Maamli", sans-serif;
   margin: 30px;
   font-size: 25px;
 }

nav {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  color: #ffffff;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid #ff2f2f00;
}

nav ul li a:hover {
  color: #ef0000;
  border-bottom: 1px solid #ef0000;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background: red;
  height: 100vh;
  background-image: url("latar belakang.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile>img {
  width: 150px;
  height: 150px;
  border: 3px solid #222;
  border-radius: 100%;
}

.profile>p {
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 2px;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}

.link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.link>a {
  text-decoration: none;
  color: #222;
  font-size: 24px;
  text-align: center;
  border: 3px solid #222;
  background-color: #eaeaea;
  border-radius: 7px;
  margin: 5px 10px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.link>a:hover {
  background-color: azure;
}

.footer {
  text-align: center;
}

.footer>i {
  color: white;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 49.49%;
  padding: 5px;
}

row::after {
  content:"";
  display: table;
  clear: both;
}